<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.DeptDao">
    <!-- 第一种方式 -->
    <!--<resultMap id="selectDept" type="domain.Dept">-->
        <!--<id property="deptno" column="deptno"></id>-->
        <!--<result property="dname" column="dname"></result>-->
        <!--<result property="loc" column="loc"></result>-->
        <!--<collection property="empList" javaType="list" ofType="domain.Emp" column="deptno" select="selectEmpForDept"></collection>-->

    <!--</resultMap>-->
    <!--<select id="selectEmpForDept" resultType="domain.Emp">-->
        <!--select empno,ename,sal,deptno from emp where deptno=#{deptno}-->
    <!--</select>-->
    <resultMap id="selectDept" type="domain.Dept">
        <id property="deptno" column="deptno"></id>
        <result property="dname" column="dname"></result>
        <result property="loc" column="loc"></result>
        <collection property="empList" javaType="list" ofType="domain.Emp">
            <id property="empno" column="empno"></id>
            <result property="ename" column="ename"></result>
            <result property="sal" column="sal"></result>
        </collection>
    </resultMap>
    <select id="selectOne" resultMap="selectDept">
      select d.deptno,d.dname,d.loc,e.empno,e.ename,e.sal from dept d left outer join emp e on d.deptno = e.deptno where d.deptno=#{deptno}
    </select>

    <select id="selectAll" resultMap="selectDept">
      select d.deptno,d.dname,d.loc,e.empno,e.ename,e.sal from dept d left outer join emp e on d.deptno = e.deptno
    </select>
</mapper>