<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpj.dao.StudentDao">

    <select id="selectOne" resultType="com.dpj.domain.Student">
        select * from student where sid = #{sid}
    </select>


</mapper>