<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


<!--    创建原始对象-->
    <bean id="userService" class="com.dpj.service.impl.UserServiceImpl"/>
<!--    创建切面对象-->
    <bean id="myAspect" class="com.dpj.aspect.MyAspect"/>
<!--    告知Spring，我要基于注解开发了-->
    <aop:aspectj-autoproxy/>
</beans>